body, html {
    height: 100%;
    margin: 0;
  }
  
.vh-100 {
    height: 100vh;
}

.bg-image {
  background-image: url('../../../assets/images/authentication/au-reset-password-cover.png');
  background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  width: 100%; /* Asegura que el contenedor cubra todo el ancho */
  height: 100%; /* Asegura que el contenedor cubra todo el alto */
}