<div class="header-container">
    <h3 *ngIf="tipoMovimientoId == 3">Ventas de Repuestos</h3>
    <h3 *ngIf="tipoMovimientoId == 5">Ventas de Accesorios</h3>
    <p-button icon="pi pi-plus" label="Agregar Venta" [text]="true" (click)="openCrearVentaDialog()" styleClass="ml-auto"></p-button>
</div>

<div class="filter-container">
  <p-calendar class="ml-2" [(ngModel)]="selectedDate" placeholder="Fecha" dateFormat="dd-mm-yy"></p-calendar>
  <p-button [text]="true" icon="pi pi-search" (click)="filterByDate()"></p-button>
  <div class="dropdown-container">
    <p-dropdown 
      [options]="empleadoChoice" 
      optionLabel="cliente" 
      placeholder="Seleccionar Cliente"
      (onChange)="onClientChange($event)">
    </p-dropdown>
  </div>
  
</div>


  
  <app-tablang
      [data]="products"
      [columns]="columns"
      (editarClick)="editarItem($event)" 
      (eliminarClick)="eliminarItem($event)"
      (modalOpenClick)="modalOpen($event)"
  ></app-tablang>
  
  <!-- <============================================ CREAR ==================================================> -->
  <p-dialog header="Crear Venta" [modal]="true" [(visible)]="crearVisible" [style]="{ width: '100vw' }">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex align-items-center gap-3 mb-3">
        <label for="personaId" class="font-semibold w-6rem"><strong>Cliente</strong></label>
        <br>
        <select id="personaId" class="flex-auto" formControlName="personaId">
          <option *ngFor="let persona of clientes" [value]="persona.id">{{ persona.nombre }} {{ persona.apellido }}</option>
        </select>
      </div>
      <div class="card mb-3 border border-0 mx-auto">
        <div class="row mt-4 ml-3">
          <div class="col-md-6 text-center">
            <h6>Articulos Disponibles</h6>
            <div class="card" style="height: 550px; overflow-y: auto; margin-left: 6vw;">
              <div class="card-body">
                <ul class="list-group" *ngFor="let entity of options">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ entity.nombre }}
                    <button class="btn btn-success" (click)="selectedEntity(entity)">Agregar Insumo</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    
          <!-- Lista de Insumos Seleccionados -->
          <div class="col-md-5 text-center">
              <h6>Artículos Seleccionados</h6>
              <div class="spacer">
                <div class="container">
                  <div class="row mt-5">
                    <div class="col-lg-12">
                      <div class="row shop-listing">
                        <p-table [value]="selectedEntities" [paginator]="true" [rows]="10" [responsive]="true"
                          [styleClass]="'table shop-table'">
                          <ng-template pTemplate="header">
                            <tr>
                              <th>Nombre</th>
                              
                              <th>Cantidad</th>
                              <th></th> 
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                              <td>{{ item.nombre }}</td>
                              
                              <td>
                                <button type="button" class="btn btn-primary" (click)="incrementQuantity(item)">+</button>
                                {{ item.cantidad || 0 }}
                                <button type="button" class="btn btn-primary" (click)="decrementQuantity(item)">-</button>
                              </td>
    
                              <td>
                                <button type="button" pButton icon="pi pi-trash" class="btn btn-danger btn-sm" (click)="returnEntities(item)"></button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      </div>
  
      <div class="flex justify-content-end gap-2 mt-3">
        <p-button class="mr-1" label="Siguiente" icon="pi pi-arrow-right" [text]="true" severity="success" type="submit"></p-button>
        <p-button label="Cancelar" icon="pi pi-times" [text]="true" severity="danger" (click)="crearVisible = false"></p-button>
      </div>
    </form>
  </p-dialog>
  
  
  <!-- <============================================ EDITAR ==================================================> -->
  <p-dialog header="Editar Venta" [modal]="true" [(visible)]="editVisible" [style]="{ width: '100vw' }">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex align-items-center gap-3 mb-3">
        <label for="personaId" class="font-semibold w-6rem"><strong>Cliente</strong></label>
        <br>
        <select id="personaId" class="flex-auto" formControlName="personaId">
          <option *ngFor="let persona of clientes" [value]="persona.id">{{ persona.nombre }} {{ persona.apellido }}</option>
        </select>
      </div>
      <div class="card mb-3 border border-0 mx-auto">
        <div class="row mt-4 ml-3">
          <div class="col-md-6 text-center">
            <h6>Articulos Disponibles</h6>
            <div class="card" style="height: 550px; overflow-y: auto; margin-left: 6vw;">
              <div class="card-body">
                <ul class="list-group" *ngFor="let entity of options">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ entity.nombre }}
                    <button class="btn btn-success" (click)="selectedEntity(entity)">Agregar Insumo</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    
          <!-- Lista de Insumos Seleccionados -->
          <div class="col-md-5 text-center">
              <h6>Artículos Seleccionados</h6>
              <div class="spacer">
                <div class="container">
                  <div class="row mt-5">
                    <div class="col-lg-12">
                      <div class="row shop-listing">
                        <p-table [value]="selectedEntities" [paginator]="true" [rows]="10" [responsive]="true"
                          [styleClass]="'table shop-table'">
                          <ng-template pTemplate="header">
                            <tr>
                              <th>Nombre</th>
                              
                              <th>Cantidad</th>
                              <th></th> 
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                              <td>{{ item.nombre }}</td>
                              
                              <td>
                                <button type="button" class="btn btn-primary" (click)="incrementQuantity(item)">+</button>
                                {{ item.cantidad || 0 }}
                                <button type="button" class="btn btn-primary" (click)="decrementQuantity(item)">-</button>
                              </td>
    
                              <td>
                                <button type="button" pButton icon="pi pi-trash" class="btn btn-danger btn-sm" (click)="returnEntities(item)"></button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      </div>
  
      <div class="flex justify-content-end gap-2 mt-3">
        <p-button class="mr-1" label="Siguiente" icon="pi pi-arrow-right" [text]="true" severity="success" type="submit"></p-button>
        <p-button label="Cancelar" icon="pi pi-times" [text]="true" severity="danger" (click)="crearVisible = false"></p-button>
      </div>
    </form>
  </p-dialog>
  
  
  <!-- <============================================ ELIMINAR ==================================================> -->
  <p-dialog header="Eliminar Venta" [modal]="true" [(visible)]="editEliminar" [style]="{ width: '25rem' }">
      <span class="p-text-secondary block mb-5">Desea usted eliminar este objeto?</span>
      <br>
      <br>
      <div class="flex justify-content-end gap-2">
          <p-button class="mr-1" icon="pi pi-check"  [text]="true" severity="success" (click)="Eliminar()" />
          <p-button icon="pi pi-times"  [text]="true" severity="danger" (click)="editEliminar = false" />
      </div>
  </p-dialog>
  
  
  <!-- <============================================ MOSTRAR DATA ==================================================> -->
  <p-dialog header="Detalles del Venta" [modal]="true" [(visible)]="detailModal" [style]="{ width: '25rem' }">
    <div class="p-fluid">
        <div class="field">
            <label for="cliente"><strong>Cliente:</strong></label>
            <span id="cliente"> {{ cardData?.cliente }}</span>
        </div>
        <br>
  
        <div class="field">
            <label for="usuario"><strong>Recepcionista:</strong></label>
            <span id="usuario"> {{ cardData?.usuario }}</span>
        </div>
        <br>
  
        <div class="field">
            <label for="createdAt"><strong>Fecha de Realización:</strong></label>
            <span id="createdAt"> {{ cardData?.createdAt  }}</span>
        </div>
        <br>
  
        <div class="field">
            <label for="subtotal"><strong>Costo Total:</strong></label>
            <span id="subtotal"> {{ cardData?.subtotal | currency }}</span>
        </div>
        <br>
  
        <br>
        <br>
  
        <div class="field">
            <label for="stock"><strong>Detalles de los Artículos:</strong></label>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Costo</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cardData?.stock">
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.costo | currency }}</td>
                        <td>{{ item.cantidad }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
  
    <div class="flex justify-content-end gap-2">
        <p-button icon="pi pi-times" (click)="detailModal = false"></p-button>
    </div>
  </p-dialog>

  <p-dialog header="Historial por Fecha" [(visible)]="fechasModal" [modal]="true" [style]="{width: '75vw'}" (onHide)="cerrarFecha()">
    <p-table [value]="filteredProducts" [paginator]="true" [rows]="10" [responsive]="true" [styleClass]="'table shop-table'">
      <ng-template pTemplate="header">
        <tr>
          <th>Cliente</th>
          <th>Recepcionista</th>
          <th>Subtotal</th>
          <th>Articulos Vendidos</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
          <td (click)="modalOpen(item)">{{ item.cliente }}</td>
          <td (click)="modalOpen(item)">{{ item.usuario}}</td>
          <td (click)="modalOpen(item)">{{ item.subtotal | currency}}</td>
          <td (click)="modalOpen(item)">{{ item.cantArt}}</td>
          
        </tr>
      </ng-template>
    </p-table>
</p-dialog>
  